*{
    margin: 0;
    padding: 0;
}

.search{
    background-color: rgb(98, 252, 255);
    background: rgb(2,0,36);
    background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 350px;
}

.search-brand{
    width: 100%;
    text-align: center;
}

.search-brand_span{
    font-size: 25px;
    font-weight: 600;
    color: rgb(157, 224, 255);
}

.search-brand_img{
    margin-top: 10px;
    border-radius: 5px;
    height: 150px;
    width: 100%;
}

@media screen and (min-width:1200px) {
    .search-brand_span{
        font-size: 40px;
        font-weight: 600;
        color: rgb(157, 224, 255);
    }
    .search-brand_img{
        margin-top: 10px;
        border-radius: 5px;
        height: 350px;
        width: 100%;
    }
}

.search-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.search-content_span{
    padding: 10px 0;
    color: aliceblue;
}

.search-content_input{
    padding: 10px;
    border-color: aliceblue;
}


.search-content_button{
    margin-top: 20px;
    padding: 10px 0;
    border-color: rgb(255, 255, 255);
}
